/* CSS MEYERS RESET
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
**************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/************************************************
Navigation bar / Header
**************************************************/
div, span, ul, li{
	bborder:1px solid gray;
}

body{
	width: 100%;
}
header > nav{
	height: 75px;
	background-color: #8b522a;
}
img[src="icons/nav-logo.jpeg"]{
	height:70px;
	width: 70px;
	margin-left: 12px;
	margin-right: 12px;
	vertical-align: middle;
	border: 1px solid #acb5a3;
	border-radius: 40px;
}
nav h2{
	text-decoration: none;
	font-size: 60px;
	font-family: 'Skranji', cursive;
	color: #acb5a3;
	vertical-align: middle;
	display: inline-block;
}

.nav-right{
	float: right;
	display: inline-block;
	vertical-align: middle;
	margin-right: 24px;

}

img[src="icons/shopping-cart.png"]{
	height: 40px;
	width:45px;
	margin-right: 8px;
	padding-top: 8px;	
}

nav a span{
	font-size: 18px;
	display: inline-block;
	line-height: 70px;
	color: #020202;
}

/************************************************
HERO IMAGE
**************************************************/
.wrapper{
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.hero-image{
	display: block;
	padding: none;
	height: 500px;
	width: 100%;
	margin: 0 auto;	
	min-width: 500px;
	text-align: center;
	
}

#heroImage{
	width: inherit;
    height:inherit;
}


.hero-image-text{
	height: 60px;
	font: 4em 'Gochi Hand', Helvetica;
	background-color: #8b522a;
	color: #e19b3d;
}

/**************************************************

Items for sale

**************************************************/
.item_header_text{
	font: 3em 'Gochi Hand', Helvetica;
	background-color: #59351b;
	color: #020202;
}

.items_for_sale{
	height: 600px;
	width: inherit;
}

.items_for_sale ul{
	width: 60%;
	margin: 0 auto;
	list-style-type: none;
}

.items_for_sale li{
	height: 250px;
	width: 202px;
	display: inline-block;
	border: 2px solid #444;
	margin: 20px 35px;
}

.item_title{
	display: block;
	height: 30px;
	width: 100%;
	background-color: #020202;
	color: #f7f8f6;
	line-height: 30px;
}
.item_pic_box{
	height: 185px;
	width: 100%;
	position: relative;
}
.item_pic_box img{
	height: inherit;
	width: 100%;
}

.price_tag{
	position: absolute;
	right:0;
	background-color: #e19b3d;
}

.add_cart{
	display: block;
	background-color: #6A794F;
	height: 35px;
	width: 100%;
	line-height: 33px;
}

.add_cart button{
	
}

.page_nav ul{
	margin: 20px auto;
}

.page_nav li{
	display: inline;
	font: 1.8em helvetica, sans-serif;

}

.page_nav li a{
	text-decoration: none;
}

footer{
	border-top: 1px solid #444;
	height:50px;
	width: 100%;
	text-align: right;
	background-color: #E19B3D;
}

footer span{
	font: 1.2em helvetica, sans-serif;
	margin-right: 15px;
}

footer span img{
	vertical-align: middle;
}